name: CI

on:
  push:
    branches: [main]

jobs:
  container-test-job:
    runs-on: ubuntu-latest

    services:
      # Label used to access the service container
      demo:
        # Docker Hub image
        image: ayushishu/react-project
        ports:
          - 3000:3000
          

    steps:
      - name: docker ls
        run: docker container ls
      - name: Get container IP
        run: |
          docker-ip() {
            docker inspect --format '{{ .NetworkSettings.IPAddress }}' demo
          }
          container_ip=$(docker-ip)
          echo "Container IP: $container_ip"
